.row
  .col-sm-12
    .page-header
      / page title
      %h1.pull-left
        %i.icon-dashboard
        %span= I18n.t("general.site.dashboard")

.row
  .col-sm-12
    .box
      .box-header.sea-blue-background
        .title
          .icon-edit
          = I18n.t("general.site.charts.visits_per_season")
        .actions
          %a.btn.box-remove.btn-xs.btn-link{:href => "#"}
            %i.icon-remove
          %a.btn.box-collapse.btn-xs.btn-link{:href => "#"}
            %i
      .box-content
        #charts
