- if can? :view, :stats
  .row
    .col-sm-12
      .page-header= I18n.t("site.stats.title")

  .row
    .col-sm-12
      .box.bordered-box.sea-blue-border{:style => "margin-bottom:0;"}
        .box-header.sea-blue-background
          .title= "Visits per league"
          .actions
            %a.btn.box-remove.btn-xs.btn-link{:href => "#"}
              %i.icon-remove
            %a.btn.box-collapse.btn-xs.btn-link{:href => "#"}
              %i
        .box-content.box-no-padding
          = high_chart("leagues_chart", @leagues_chart)
