- if can? :view, :tickets
  .row
    .col-sm-12
      .page-header= I18n.t("site.tickets.title")

  .row.tickets
    - @footmarks.each do |footmark|
      - if footmark.has_ticket?
        .col-sm-6.col-md-2.ticket
          = link_to footmark_path(footmark), { "data-toggle" => "lightbox" } do
            = image_tag(ImageBuilder.new(footmark).get_ticket)