@media screen and (max-width: 600px) {
  .footmark_details {
    .image_box {
      display: none;
    }
  }
  .footmarks {
    .flag {
      display: none;
    }
    .nr {
      color: $secondary-color;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      float: left;
      width: 100%;
    }
    .match {
      float:left;
      text-align: center;
    }
    .details {
      display: none;
    }
    .action {
      width: 100%;
      float: left;
      margin-top: 5px;
      
      a {
        display:block;
        text-align: center;
      }
    }
  }
  
  table {
    border: 0;
  }

  table thead, .td-label {
    display: none;
  }

  table tr {
    margin-bottom: 10px;
    display: block;
  }

  table td {
    display: block;
    text-align: right;
    font-size: 13px;
  }

  table td:last-child {
    border-bottom: 0;
  }

  table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }
}
