@import "variables.scss";

.table {
  th, td {
    padding: 0.2rem 0.75rem;
    font-size: 75%;
  }
  .thead-dark {
    th {
      background-color: $base-color;  
      border-color: $base-color;
    }
  }
  th.center, td.center {
    text-align: center;
  }
  td a, td a:visited, td a:hover {
    color: $base-color;
  }
}
.navbar {
  background-color: $base-color;

  .dropdown-item:hover {
    color: #FFFFFF;
    background-color: $base-color;
  }
}
.actions {
  margin: 20px 0;
}
.count {
  text-align: right;
  padding-top: 10px;
  font-size: 24px;
  font-weight: bold;
}
.btn-outline-primary {
  color: $base-color;
  border-color: $base-color;
}
.btn-outline-primary:hover {
  background-color: $base-color;
  border-color: $base-color;
  color: #FFFFFF !important;
}
.btn-outline-danger {
  color: #dc3545 !important;
}
.btn-outline-danger:hover {
  color: #FFFFFF !important;
}
.btn-sm {
  padding: 0px 5px;
}

form {
  margin-top: 20px;
}
.page-header {
  margin: 20px 10px;
  font-size: 36px;
  color: $base-color;
  font-weight: bold;
}
#mapid {
  height: 700px;
}
.marker_content {
  text-align: center;
}
.gallery {
  .photo {
    border: 1px solid rgba(0, 0, 0, .3);
    margin: 0 15px 30px;
    padding: 10px 10px 25px;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    
    img {
      width: 100%;
    }
  }
}
.ticket, .programme {
  margin: 10px;
}
.ticket img, .programme img {
  width: 500px;
}

@media (max-width: 575.99px) {
  .table {
    td.hidden, th.hidden {
      display: none;
    }
    td, th {
      font-size: 70%;
      padding: 1px;
    }
  }
  .actions {
    margin: 5px 0;
  }
  .footmarks_count {
    text-align: center;
  }
}
@media (max-width: 767.99px) {
  .table {
    td, th {
      font-size: 70%;
      padding: 1px;
    }
  }

}