@import "variables.scss";

h1 {
  color: $secondary-color;
}
.page-header h1 {
  color: $secondary-color;
}

.authentication_title {
  text-align: center;
  font-size: 300%;
  color: #FFFFFF;
  font-weight: bold;
}
.copyright {
  text-align: center;
  color: #FFFFFF;
}
.filter {
  .selected {
    background-color: #FFF8DC;
  }
}
.footmarks {
  .list-group-item {
    padding: 5px 15px;
  }
  .nr, .match_data, .details, .match {
    float: left;
  }
  h3, h4 {
    margin-top: 0;
    margin-bottom: 0;
  }
  small {
    margin-top: 10px;
  }
  .details {
    clear: both;
    margin-top: 0;
    margin-bottom: 0;
  }
  .nr {
    color: $secondary-color;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    width: 10%;
  }
  .match {
    padding-top: 3px;
  }
  .match_data {
    margin-left: 20px;
  }
  .action {
    float: right;
    margin-right: 10px;
    margin-top: 8px;
  }
}
