@import "variables.scss";

.table {
  th, td {
    padding: 0.2rem 0.75rem;
    font-size: 75%;
  }
  .thead-dark {
    th {
      background-color: $base-color;  
      border-color: $base-color;
    }
  }
  th.center, td.center {
    text-align: center;
  }
  td a, td a:visited, td a:hover {
    color: $base-color;
  }
}
.navbar {
  background-color: $base-color;

  a, a:visited, a:hover {
    color: #FFFFFF;
  }
}
.actions {
  margin: 20px 0;
}
.footmarks_count {
  text-align: right;
  padding-top: 10px;
}
.btn-outline-primary {
  color: $base-color;
  border-color: $base-color;
}
form {
  margin-top: 20px;
}

@media (max-width: 575.99px) {
  .table {
    td.hidden, th.hidden {
      display: none;
    }
    td, th {
      font-size: 70%;
      padding: 1px;
    }
  }
  .actions {
    margin: 5px 0;
  }
  .footmarks_count {
    text-align: center;
  }
}
@media (max-width: 767.99px) {
  .table {
    td, th {
      font-size: 70%;
      padding: 1px;
    }
  }

}