$base-color: #2C6700;
$secondary-color: #B11F05;
$round: 10px;

@mixin round-corners {
  -webkit-border-radius: $round $round;
  -moz-border-radius: $round / $round;
  -khtml-border-radius: $round / $round;
  border-radius: $round / $round;
}
