%nav.navbar.navbar-expand-lg
  = link_to "Footmarks", root_path, class: "navbar-brand"
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarNav
    %ul.navbar-nav.mr-auto
    %ul.navbar-nav
      - if can? :create, Footmark
        %li.nav-item= link_to I18n.t('.footmark.titles.new'), new_footmark_path, class: "nav-link"
      - if current_user
        %li.nav-item= link_to I18n.t('devise.sessions.sign_out'), destroy_user_session_path, method: :delete, class: "nav-link"


