%nav.navbar.navbar-expand-lg
  %a.navbar-brand{:href => "#"} Footmarks
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %span.navbar-text= link_to I18n.t('devise.sessions.sign_out'), destroy_user_session_path, method: :delete


