- if notice.present?
  .col-sm-12.col-md-10.col-md-offset-1
    %aside.alert.alert-success
      = notice
- if alert.present?
  .col-sm-12.col-md-10.col-md-offset-1
    %aside.alert.alert-danger
      = alert
