.col-xs-12
  .row
    .col-sm-12
      .page-header
        / page title
        %h1.pull-left
          %i.icon-th
          %span= title
        / breadcrumbs
        .pull-right
          %ul.breadcrumb
            %li
              = link_to root_path do
                %i.icon-bar-chart
            %li.separator
              %i.icon-angle-right
            %li.active= title
